.cursor/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.pytest_cache/
.tox/
dist/
.dist/
htmlcov/
coverage.xml
.coverage
.coverage.*
.coverage.xml
.coverage.json
.coverage.html
.coverage.txt
.coverage.yaml
.coverage.yml
.python-version
node_modules/
.vscode/
.env
